<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if title %}
        <title>{{ title }} - microBlog</title>
    {% else %}
        <title>Welcome to microBlog</title>
    {% endif %}
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
    <link href="{{ url_for('static', filename='css/bootstrap-responsive.min.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/moment.js') }}"></script>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
</head>
<body>
<div class="container">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#blog-flask" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">MicroBlog</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="blog-flask">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="{{ url_for('index') }}">{{ _('Home') }}<span class="sr-only">(current)</span></a>
                    </li>
                    {% if g.user.is_authenticated %}
                        <li><a href="{{ url_for('user', nickname=g.user.nickname) }}">Profile</a></li>
                        <li><a href="{{ url_for('logout') }}">Logout</a></li>
                    {% endif %}
                </ul>

                {% if g.user.is_authenticated %}
                    <form class="navbar-form navbar-search navbar-right" action="{{ url_for('search') }}" method="post"
                          name="search">
                        <div class="form-group">
                            {{ g.search_form.hidden_tag() }}
                            {#                            <input type="text" class="form-control" >#}
                            {{ g.search_form.search(size=20,placeholder="Search", class="form-control search-query") }}
                        </div>
                    </form>
                {% endif %}
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <div class="row">
        <div class="span12">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>
</body>
</html>