{% extends "base.html" %}
{% block content %}
    <h1>Edit Your Profile</h1>
    {% include "flash.html" %}
    <div class="well well-lg">
        <form class="form-horizontal" action="" method="post" name="edit">
            {{ form.hidden_tag() }}
            <div class="form-group {% if form.errors.post %} error{% endif %}">
                <label class="control-label col-sm-2" for="nickname">Your nickname:</label>

                {{ form.nickname(maxlength=64, class="col-sm-10") }}
                {% for error in form.errors.nickname %}
                    <span class="help-inline">[{{ error }}]</span>
                {% endfor %}

            </div>
            <div class="form-group {% if form.errors.post %} error{% endif %}">
                <label class="control-label col-sm-2" for="about_me">About Me:</label>

                {{ form.about_me(cols = 64,rows = 4, class="col-sm-10") }}
                {% for error in form.errors.about_me %}
                    <span class="help-inline">[{{ error }}]</span>
                {% endfor %}

            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <input class="btn btn-primary" type="submit" value="Save Change">
                </div>
            </div>
        </form>
    </div>
{% endblock %}