{% extends "base.html" %}
{% block content %}
    <script type="text/javascript">
        function set_openid(openid, pr) {
            u = openid.search("<username>");
            if (u != -1) {
                user = prompt("Enter your " + pr + " username:");
                openid = openid.substr(0, u) + user;
            }
            form = document.forms['login'];
            form.elements["openid"].value = openid;
        }
    </script>
    {% include "flash.html" %}
    <h1>Sign In</h1>
    <div class="well">
        <form class="form-horizontal" action="" method="post" name="login" role="form">
            {{ form.hidden_tag() }}
            <div class="help-block form-group">
                Click on your OpenID provider below:
            </div>
            <div class="form-group form-control-static">
                {% for pr in providers %}
                    <a href="javascript:set_openid('{{ pr.url }}', '{{ pr.name }}');">
                        <img src="/static/img/{{ pr.name.lower() }}.png" class="img-polaroid"
                             style="margin: 2px;"> </a>
                {% endfor %}
            </div>
            <div class="form-group {% if form.errors.openid %} error{% endif %}">
                <label for="openid" class="control-label"> Or enter your OpenID here: </label>
                <div>
                    {{ form.openid(size=80, class="span4") }}
                    {% for error in form.openid.errrors %}
                        <span class="help-inline">[{{ error }}]</span><br>
                    {% endfor %}
                </div>


            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <label class="checkbox" for="remember_me">
                        {{ form.remember_me }}Remember Me
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <input class="btn btn-primary" type="submit" value="Sign In">
                </div>
            </div>
        </form>

    </div>

{% endblock %}