<ul class="pager">
    {% if posts.has_prev %}
        <li class="previous"><a href="{{ url_for('index', page=posts.prev_num) }}">Prev</a></li>
    {% else %}
        <li class="previous disabled" style="display: none">Prev</li>
    {% endif %}
    {% if posts.has_next %}
        <li class="next"><a href="{{ url_for('index', page=posts.next_num) }}">Next</a></li>
    {% else %}
        <li class="next disabled" style="display: none">Next</li>
    {% endif %}
</ul>